.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-logo img {
    margin-right: 10px;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-link:last-child {
    margin-right: 0;
  }
  
  .navbar-link:hover {
    color: #ffc107;
  }
  