<div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink w3-red"routerLink="/add-new-student" >Add New Student</button>
    <button class="w3-bar-item w3-button tablink" routerLink="/add-new-result">Insert New Result</button>
    <button class="w3-bar-item w3-button tablink" routerLink="/registered-student">Registered Students</button>
     <button class="w3-bar-item w3-button tablink" routerLink="/all-result">All Student Result</button>
     <a href="adminLogin.html" class="w3-bar-item w3-button tablink">Logout</a>
  </div>


  
